* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 10; */
  background-color: #EEE;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 180px;
  margin-left: 120px;
  line-height: 80px;

  padding: 10px 0;
}


nav ul {
  list-style: none;
  margin-right: 100px;

}

nav ul li {
  text-decoration: none;
  display: inline;
  padding: 10px 0;
  line-height: 80px;
}

nav ul li:nth-child(1){
  margin-right: 20px;
}

nav ul li a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: red;
}

nav ul li a:hover {
  color: rgb(162, 9, 9);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
  
}


.card {
  width: 350px;
  height: 500px;
  border-radius: 8px;
  border: 1px solid #EEE;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.card img {
  width: 100%;
  height: 268px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card h2 {
  font-size: 1.6rem;
  padding: 0 10px;
}


.card p {
  padding: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

/* ------ about -------- */

/* Style About */
div.about-me{
  width: 90%;
  max-width: 980px;
  margin: 60px auto;
  margin-top: 25%;
  background: #fafafa;
  padding: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-color: #e0e0e1;

}

.about-me .content-about {
  align-items: center;
  padding: 20px;
  
}

.about-me .content-about .about-me-pic {
  width: 15%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

div.content-about h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 28px;
  text-align: center;
  color: #282828;
}


div.content-about h1 strong {
  font-weight: 900;
}

div.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-top: 20px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
  color: #323232;
  z-index8 9;
}

.social-icon:hover {
  color: #282828;
}


h2{
  color:#323232;
  font-size:30px;
  margin-left:15px;
}
p{
  font-size:20px;
  line-height:40px;
  margin-left:15px;
}

@media(max-width: 772px){
  .about-me {
    max-width: 772px;
  }
  .card {
    width: 420px;
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media(max-width: 530px) {
  .logo {
    margin-left: 10px;
    margin: 10px 0;
    width: 150px;
  }
  ul {
    display: none;
  }
  .one,
  .two,
  .three {
    background-color: red;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 300ms;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 25px;
    margin-top: 20px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #FFF;
  }
  
  .menu-section.on nav ul{
    display: block;
  }
  .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(7px, -9px);
  }
  
  .menu-section.on nav ul {
    margin-right: 0;
  }

  .menu-section.on nav ul li {
    text-align: center;
    display: block;
    margin-right: 0;
    margin-top: 30%;
  }

  .menu-section.on nav ul li:nth-child(2){
    margin-top: 0;
  }
  .menu-section.on nav ul li a {
    font-size: 1.5rem;
  }


  .about-me .content-about .about-me-pic {
    width: 30%;
  }

  div.content-about h1 {
    font-size: 32px;
  }
}

@media(max-width: 375px) {

  .logo{
    width: 140px;
    margin-left: 25px;
  }
  .card {
    width: 320px;
    margin-right: 0;
    margin-left: 10px;
  }
}